aniso8601==6.0.0
Click==8.0.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2-binary==2.9.10
pytz==2019.1
six==1.12.0
SQLAlchemy==1.4.0
Werkzeug==2.0.3
gunicorn==21.2.0
python-dotenv==1.0.0
